<h3 id="information">Information</h3>
<ul><TMPL_LOOP NAME="info"><li><TMPL_VAR NAME="item"></li></TMPL_LOOP></ul>
<h3 id="tools">Tools</h3>
<ul><TMPL_LOOP NAME="tools"><li><TMPL_VAR NAME="item"></li></TMPL_LOOP></ul>