<ul id="goto"><li><TMPL_VAR NAME="prefs_link"></li>
<li><TMPL_VAR NAME="random_link"></li><TMPL_IF NAME="files_dir">
<li><a href="<TMPL_VAR NAME="files_dir">/">Files</a></li></TMPL_IF><TMPL_IF NAME="upload_form">
<li><a href="<TMPL_VAR NAME="upload_form">">Upload Form</a></li></TMPL_IF></ul>