<h3>Single Tags</h3>
<ul><TMPL_LOOP NAME="single"><li><code>&lt;<TMPL_VAR NAME="item">&gt;</code></li></TMPL_LOOP></ul>
<h3>Paired Tags</h3>
<ul><TMPL_LOOP NAME="pairs"><li><code>&lt;<TMPL_VAR NAME="item">&gt;</code></li></TMPL_LOOP></ul>