<TMPL_IF NAME="lock"><p>The page &ldquo;<TMPL_VAR NAME="page_link">&rdquo; has been successfully locked.</p>
<p><span class="error">Notice:</span> Users with administrative privileges may still edit this page.</p><TMPL_ELSE><p>The page &ldquo;<TMPL_VAR NAME="page_link">&rdquo; has been successfully unlocked.</p></TMPL_IF>