<TMPL_IF NAME="revision"><TMPL_IF NAME="revision_exists"><h2>Revision #<TMPL_VAR NAME="revision"></h2>
<TMPL_ELSE><p><span class="error">Error:</span> Revision <TMPL_VAR NAME="revision"> does not exist.</p></TMPL_IF></TMPL_IF><TMPL_VAR NAME="page">