<table id="recentforumposts"><tr><th>Topic</th><th>Forum</th><th>Replies</th><th>Views</th><th>Last post</th></tr><TMPL_LOOP NAME="posts">
<tr><td><img src="schemes/icons/chat.svg" alt="•" class="icon md">&nbsp;<a href="/forums/viewtopic.php?f=<TMPL_VAR NAME="forum_id">&amp;t=<TMPL_VAR NAME="topic_id">&amp;p=<TMPL_VAR NAME="post_id">#p<TMPL_VAR NAME="post_id">"><TMPL_VAR NAME="topic_title"></a></td><td><a href="/forums/viewforum.php?f=<TMPL_VAR NAME="forum_id">"><TMPL_VAR NAME="forum_name"></a></td><td><TMPL_VAR NAME="topic_replies"></td><td><TMPL_VAR NAME="topic_views"></td><td><TMPL_VAR NAME="date"> at <TMPL_VAR NAME="time"><br>&nbsp;&nbsp;by <TMPL_VAR NAME="username"></td></tr></TMPL_LOOP></table>