<table><tr><th>Screen style sheet:</th><td><TMPL_VAR NAME="stylesheet"></td></tr>
<tr><th>Print style sheet:</th><td><TMPL_VAR NAME="printsheet"></td></tr>
<tr><th>Time zone:</th><td><TMPL_VAR NAME="time_zone"></td></tr></table>
<p>Your preferences were successfully saved. They will take effect on the next page you load.</p>