<TMPL_IF NAME="command_list"><blockquote><pre><TMPL_LOOP NAME="results"><TMPL_VAR NAME="item">
</TMPL_LOOP></pre></blockquote>
<p>Finished processing commands.</p><TMPL_ELSE><p><span class="error">Error:</span> The command list is empty.</p></TMPL_IF>