<form method="get" action="<TMPL_VAR NAME="script_name">">
<div><input type="hidden" name="do_search" value="1"></div>
<p><label for="full_search">Query:</label>&nbsp;<input type="text" name="search" id="full_search">&nbsp;<button type="submit">Search</button></p>
<div><label><input type="checkbox" name="hidewiki">&nbsp;Hide wiki results.</label></div>
<div><label><input type="checkbox" name="hidefiles">&nbsp;Hide file results.</label></div></form>