<p>Searched for &ldquo;<TMPL_VAR NAME="query">&rdquo;:</p>
<h3 id="wiki">Wiki</h3>
<TMPL_INCLUDE NAME="pagelist.tmpl"><TMPL_IF NAME="file_index">
<h3 id="files">Files</h3>
<TMPL_INCLUDE NAME="filelist.tmpl"></TMPL_IF>