<form method="get" action="https://www.google.com/search">
<div><input type="hidden" name="ie" value="utf-8">
<input type="hidden" name="oe" value="utf-8">
<input type="hidden" name="domains" value="<TMPL_VAR NAME="http_host">">
<input type="hidden" name="sitesearch" value="<TMPL_VAR NAME="http_host">"></div>
<p><label for="google_search">Query:</label>&nbsp;<input type="text" name="q" id="google_search">&nbsp;<button type="submit">Search</button></p></form>